/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #5ddac8;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
$colors: ('primary': ( // 主色
            'base': $--color-primary,
        ),
    ));

:root {
  --app-background-color: #f5f5f5;
  --font-familt: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--app-background-color);
  font-family: var(--font-familt), serif;
  transition: background-color 0.3s ease;
}
